body {
    margin: 0;
}

div.flash-msg {
    border: 2px solid #32cd32;
    background-color: #32cd32b0;
    height: 50px;
    line-height: 50px;
    color: #008000;
    border-radius: 10px;
    span.close-flash {
        cursor: pointer;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        color: #008000;
        border: 2px solid #008000;
        border-radius: 50%;
    }
}

div.info-books-cnt {

    div.copertina-cnt {
        height: auto;
        padding: 0;
        position: relative;

        img {
            width: auto;
            max-height: 400px;
        }

        div.info-cnt {
            position: absolute;
            bottom: 0;
            padding: 10px;;
            margin-bottom: 10px; 
           
            background-color: #000000bd;
            h3, p {
                margin: 10px 0;
                color: #FFF;
            }

            span.info-type {
                font-size: 12px;
            }

            div.btns-container {
                padding: 0;

                button {
                    padding: 5px 10px;
                    
                }
            }
        }

    }
    
}
